<!DOCTYPE html>
<html>
  <%= render 'layouts/head' %>
  <body>
    <%= render 'layouts/header' %>
    <div class='container'>
      <section id='content'>
        <%= render 'layouts/notification' %>
        <%= yield %>
      </section>
      <% if content_for?(:sidebar) %>
      <section id='sidebar'>
        <%= content_for?(:sidebar) ? yield(:sidebar) : render('layouts/sidebar') %>
      </section>
      <% end %>
    </div> 
    <%= render 'layouts/footer' %>
  </body>
</html>